.about_us {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.about_us__title {
    color: var(--fuente-ceniza-oscuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.25rem;
}

.about_us__text {
    line-height: normal;
    margin-bottom: 1rem;
}

.about_us__platforms{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.about_us__text--highlight {
    color: var(--fuente-ceniza-oscuro);
    font-weight: 700;
}
.about_us__img {
    display: none;
}
@media screen and (min-width: 1024px) {
    .about_us {
        display: flex;
    }
    .about_us__content{
        margin-right: 3rem;
    }
    .about_us__title {
        text-align: left;
    }
    .about_us__text--division {
        border-bottom: 1px solid var(--backgrounf-ceniza-medio);
        padding-bottom: 1.5rem;
    }
    .about_us__img {
        display: block;
    }
}